.background-overlay {
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed; /*element stays in place even when the page is scrolled*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}
li {
  display: inline-block;
}
li a {
  display: block;
  color: rgb(247, 244, 244);
  text-align: right;
  padding: 10px 15px;
  text-decoration: none;
}
  .test1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 90%;

}

.grid-container {
  display: grid;
 grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px; 
} 

h1{
  color: rgb(241, 186, 5);
}
.home-description {
    font-size: 1.2rem;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.item2 h1 {
  color:  rgb(241, 186, 5);
  font-family: pacifico, cursive;
}
.item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px; 
}
/*.item1 img {
  border: 5px solid #f3a108; 
  border-radius: 100px;        
  overflow: hidden;
}*/
.item1 {
  display: flex;
  justify-content: flex-end; 
  align-items: center;      
  height: 350px;             
}
.welcome-video {
  border: 5px solid #000000;  
  border-radius: 20px;        
  object-fit: cover;
  margin-top: 80px;      
}

/*Menu*/
.h3{
  color: rgb(241, 186, 5);
  font-family: pacifico, cursive;
  text-align: center;
}
.food-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}
/*.menu-item img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 10px;
}*/
.burger img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  border: black solid 2px;
}
.burger {
  display: flex;
  gap: 20px; 
  justify-content: center; 
}
.button {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center
}
.food-card {
  text-align: center;
}

.promo-badge{
  position: absolute;
  top: 10px;
  left: 10px;
  transform: translateX(225%);
  background: #026eeb;
  color: #000000;
  padding: 8px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.5rem;
 
 
}
.food-img-bg {
  position: relative;
 
}
.food-img-bg {
  position: relative;
  background-color: #f3a108;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0 auto 10px auto;
}
.pizza {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.pizza img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  border: black solid 2px;
}
.food-img-bg img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.pasta img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  border: black solid 2px;
}
.pasta {
  display: flex;
  gap: 20px;
  justify-content: center;
}
h3 {
  font-family:'Oswald', sans-serif;
  text-align: center;
}
.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

}
.service-card{
  background:  rgb(241, 186, 5);
  padding: 30px 20px;
  border-radius: 8px;
}
.service-card:hover {
  background-color: #f7f7f7;
  cursor: pointer

}
h2{
  text-align: center;
  font-family: pacifico, cursive;
}
.reviews-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;     
}
.reviews-card {
  background: rgb(126, 226, 211);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}
.reviews-phrases{
  font-style: italic;
}
.booking-section {
   background-color: #0c0c2b; 
   color: white;
   max-width: 1000px;
   margin: auto;
   border-radius: 10px;
   font-family: Arial, sans-serif;
}
.booking-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.booking-form input,
.booking-form select,
.booking-form textarea {
  flex: 1;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 1rem;
}

/*Media Queries*/
/*@media (max-width: 600px) {
  .burger img,
  .pizza img,
  .pasta img 
   width: 150px;
   height: 150px; 
  }

 .food-img-bg {
    width: 180px;
    height: 180px;
  }
  h1, h2 {
    font-size: 1.5rem;
  }
  li a {
    padding: 5px;
  }*/

